{% extends "base.html" %}
{% load humanize %}
{% load static %}

{% block page_title %}Cart Admin{% endblock page_title %}

{% block content %}
{% if items|length > 0 %}
<div class="overflow-x-auto">
  {% if 'approved' in request.path %} 
      
      <a href="{% url 'cart_items' %}">
        <button class="flex items-center px-4 py-2 bg-red-400 text-black rounded-md focus:outline-none focus:ring-2 focus:ring-red-400 md:my-10">
          <img class="w-4 h-5 mr-1" src="{% static "images/back.svg" %}" alt="">
           Go Back
        </button>
      </a>
    {% else %}
      <a href="{% url 'approved' %}">
        <button class="flex items-center px-4 py-2 bg-purple-500 text-white rounded-md focus:outline-none focus:ring-2 focus:ring-purple-500 md:my-10">
           <img class="w-4 h-5 mr-1" src="{% static "images/history.svg" %}" alt="">
          Previous Approved Items
        </button>
      </a>
    {% endif %}
  <table class="table">
    <!-- head -->
    <thead>
      <tr>
        <th class="font-bold">Service Name</th>
        <th class="font-bold">Service Price</th>
        <th class="font-bold">Customer Name</th>
        <th class="font-bold">Cutsomer Email</th>
        <th class="font-bold">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in items %}
        <tr>
            <td>
                {{item.service.service_name}}
            </td>
            <td>
                {{item.service.price|floatformat:2|intcomma }}
            </td>
            <td>{{item.customer.first_name}} {{item.customer.last_name}}</td>
            <td>{{ item.customer.email }}</td>
            <th class="flex gap-5">
                {% if item.is_order_confirm == True %}
                    <span class="text-green-500">Approved</span>
                {% else %}
                <a href="{% url "cancel" item.id %}" class="tooltip" data-tip="Cancel Service">
                  <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50"
                  style="fill:#FA5252;">
                  <path d="M25,2C12.319,2,2,12.319,2,25s10.319,23,23,23s23-10.319,23-23S37.681,2,25,2z M33.71,32.29c0.39,0.39,0.39,1.03,0,1.42	C33.51,33.9,33.26,34,33,34s-0.51-0.1-0.71-0.29L25,26.42l-7.29,7.29C17.51,33.9,17.26,34,17,34s-0.51-0.1-0.71-0.29	c-0.39-0.39-0.39-1.03,0-1.42L23.58,25l-7.29-7.29c-0.39-0.39-0.39-1.03,0-1.42c0.39-0.39,1.03-0.39,1.42,0L25,23.58l7.29-7.29	c0.39-0.39,1.03-0.39,1.42,0c0.39,0.39,0.39,1.03,0,1.42L26.42,25L33.71,32.29z"></path>
                  </svg>
                </a>
                <a href="{% url "confirm" item.id %}" class="tooltip" data-tip="Approve Order">
                  <button class="">
                      <div class="svg-container hover:text-white">
                          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50"
                          style="fill:#40C057;">
                          <path d="M25,2C12.318,2,2,12.318,2,25c0,12.683,10.318,23,23,23c12.683,0,23-10.317,23-23C48,12.318,37.683,2,25,2z M35.827,16.562	L24.316,33.525l-8.997-8.349c-0.405-0.375-0.429-1.008-0.053-1.413c0.375-0.406,1.009-0.428,1.413-0.053l7.29,6.764l10.203-15.036	c0.311-0.457,0.933-0.575,1.389-0.266C36.019,15.482,36.138,16.104,35.827,16.562z"></path>
                          </svg>
                      </div>
                  </button>
                </a>
                {% endif %}
            </th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
  <div class="flex flex-col items-center justify-center md:w-1/2 mx-auto">
    <img src="{% static "images/cart.jpg" %}" alt="Empty Cart" class="mb-4 max-w-full">
    <h2 class="text-xl text-gray-700 mb-2">No service Found!!!</h2>
    <a href="{% url "home" %}" class="text-purple-700 font-bold hover:underline">Go Back</a>
</div>
{% endif %}
{% endblock content %}