<h4>Hello, {{user.first_name}} {{user.last_name}}</h4>
{% if type == 'add_to_cart' %}
    <p>You have been ordered a service for your house. Our admin will confirm your service. wait for our approval email.</p>
{% elif type == 'confirm' %}
    <p>Congratulations!!! your has been confirmed by Admin. We are very happy to you for order such an amazing service.</p>
{% elif type == 'password_change' %}
    <p>Congratulations!!! you have been successfully changed your old password. you can login your account with updated password.</p>
{% elif type == 'admin' %}
    <p>Congratulations!!! you have been made  Admin. We are very happy to make you Admin</p>
{% endif %}
{% elif type == 'deposit' %}
    <p>Congratulations!!! you have been successfully deposited in your account for Housebrush service. We are very happy to see you deposited here for our qualityful services.</p>
{% endif %}
<p>Thanks for stay with us</p>
<p>HouseHold</p>