<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block page_title %}{% endblock page_title %}</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Montserrat:wght@400;500;600;700;900&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js" crossorigin="anonymous" defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            function showSuccessAlert(message,msgType) {
                console.log(msgType)
                console.log( typeof msgType)
                Swal.fire({
                    icon: msgType === "success" ? "success": "error",
                    title: msgType === "success" ? "Success!": "Oops..",
                    text: message,
                    timer: 2000,
                })
            }

            {% if messages %}
                {% for message in messages %}
                    showSuccessAlert("{{ message }}" , "{{ message.tags }}");
                {% endfor %}
            {% endif %}
        });
    </script>
</head>
<body style="font-family: 'Poppins', sans-serif">
    {% include "navbar.html" %}
    <div class="container mx-auto">
        {% block content %}
        
        {% endblock content %}
    </div>
    {% include "footer.html" %}
</body>
</html>