{% extends "base.html" %}
{% load static %}
{% block page_title %}Home Page{% endblock page_title %}

{% block content %}
<div class="flex justify-center items-center gap-4 p-4 mt-6 mb-6">
    <div class="w-1/2">
        <img src="{% static "images/homepage.webp" %}" alt="photo">
    </div>
    <div class="w-1/2">
        <h2 class="text-2xl font-semibold my-8">Welcome To <a class="text-purple-600 font-semibold" href="{% url "home" %}">HouseBrush</a></h2>
        <p class="text-base mb-4">Keeping track of all your clients can be exhausting. Adding texting to your maid service business can make life easier. It's a win-win for you and your customers! TxtSquad is the best way for house cleaners and maid services to automate interactions with their clients through sms messaging. You can schedule texts, manage client lists, receive customer feedback - everything from your phone! It's a win-win for you and your customers!</p>
        <a  href="{% url "cart" %}" class="inline-block font-medium text-sm px-6 py-3 leading-none bg-purple-600 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-600">View your cart</a>
    </div>
</div>

{% comment %} Service section {% endcomment %}

<div class="mt-10 mb-6">
    <h2 class="text-2xl font-semibold my-8 text-center">Our All Services</h2>
    <div class="grid gap-4 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 xl:grid-cols-3">
    {% for service in services %}
        <div class="card bg-base-100 shadow-xl">
            <figure class="w-64 h-48 flex items-center justify-center overflow-hidden">
                <img src="{{service.image.url}}" alt="photo" class="w-full h-full object-cover" />
            </figure>
            <div class="card-body">
                <h2 class="card-title">{{service.service_name}}</h2>
                <p>{{service.description|truncatewords:20}}</p>
                <div class="card-actions flex gap-4">
                    <a  href="{% url "add_to_cart" service.id %}" class="inline-block font-medium text-sm px-6 py-3 leading-none bg-purple-600 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-600 mt-4 lg:mt-0">Add to Cart</a>
                    <a href="{% url "details" service.id %}" class="inline-block font-medium text-sm px-6 py-3 leading-none bg-purple-600 rounded text-white border-white hover:border-transparent hover:text-dark hover:bg-red-600 mt-4 lg:mt-0">View Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% comment %} gllery section {% endcomment %}

<div class="my-10">
  <div class="md:w-1/2 mx-auto">
    <h2 class="text-2xl font-semibold mt-10 mb-4 text-center uppercase">Our Gallery</h2>
    <p class="text-sm mb-8 text-center">Our some projects. we have finished the projects with 100% client satisfaction.</p>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 gap-4">
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">
      <div class="aspect-w-16 aspect-h-9">
        <img src="{% static "images/g1.jpg" %}" alt="{{ event.event_name }}" class="object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 transform scale-100 hover:scale-120 transition-transform">
          <div class="text-white text-center p-2">
            <h2 class="text-lg my-2">House cleaning</h2>
            <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">
      <div class="aspect-w-16 aspect-h-9">
        <img src="{% static "images/g2.avif" %}" alt="{{ event.event_name }}" class="object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 transform scale-100 hover:scale-120 transition-transform">
          <div class="text-white text-center p-2">
            <h2 class="text-lg my-2">Corporate Office cleaning</h2>
            <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">
      <div class="aspect-w-16 aspect-h-9">
        <img src="{% static "images/clean5.jpg" %}" alt="{{ event.event_name }}" class="object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 transform scale-100 hover:scale-120 transition-transform">
          <div class="text-white text-center p-2">
            <h2 class="text-lg my-2">Glass cleaning</h2>
            <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">
      <div class="aspect-w-16 aspect-h-9">
        <img src="{% static "images/g4.png" %}" alt="{{ event.event_name }}" class="object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 transform scale-100 hover:scale-120 transition-transform">
          <div class="text-white text-center p-2">
            <h2 class="text-lg my-2">Best cleaning Team</h2>
            <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">
      <div class="aspect-w-16 aspect-h-9">
        <img src="{% static "images/clean5.avif" %}" alt="{{ event.event_name }}" class="object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 transform scale-100 hover:scale-120 transition-transform">
          <div class="text-white text-center p-2">
            <h2 class="text-lg my-2">House Shifting</h2>
            <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">
      <div class="aspect-w-16 aspect-h-9">
        <img src="{% static "images/clean6.jpg" %}" alt="{{ event.event_name }}" class="object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 transform scale-100 hover:scale-120 transition-transform">
          <div class="text-white text-center p-2">
            <h2 class="text-lg my-2">Office Shifting</h2>
            <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">
      <div class="aspect-w-16 aspect-h-9">
        <img src="{% static "images/clean7.jpg" %}" alt="{{ event.event_name }}" class="">
        <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 transform scale-100 hover:scale-120 transition-transform">
          <div class="text-white text-center p-2">
            <h2 class="text-lg my-2">Repair Water Line</h2>
            <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative bg-white shadow-md rounded-lg overflow-hidden">
      <div class="aspect-w-16 aspect-h-9">
        <img src="{% static "images/clean8.jpg" %}" alt="{{ event.event_name }}" class="object-cover">
        <div class="absolute inset-0 bg-black bg-opacity-70 flex items-center justify-center opacity-0 transition-opacity duration-300 hover:opacity-100 transform scale-100 hover:scale-120 transition-transform">
          <div class="text-white text-center p-2">
            <h2 class="text-lg my-2">Repair Corporate Line</h2>
            <p class="text-sm my-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, voluptatum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="swiffy-slider slider-item-show4 slider-nav-outside slider-nav-dark slider-nav-sm slider-nav-visible slider-nav-page slider-item-snapstart slider-nav-autoplay slider-nav-autopause slider-item-ratio slider-item-ratio-contain slider-item-ratio-32x9 bg-white shadow-lg py-3 py-lg-4" data-slider-nav-autoplay-interval="2000">
    <div class="slider-container">
        <div><img src="../assets/img/brandlogos/css-3.svg" alt="..."></div>
        <div><img src="../assets/img/brandlogos/DWLogoColor_sm.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/javascript-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/bootstrap-5.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/eslint-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/github-2.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/html-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/svelte-wordmark-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/next-js.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/webpack-icon.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/react-2.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/star-wars-4.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/vue-9.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/meteor-5.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/nuxt-2.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/nodejs-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/prettier-2.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/angular-icon-1.svg" loading="lazy" alt="..."></div>
        <div><img src="../assets/img/brandlogos/github-icon.svg" loading="lazy" alt="..."></div>
    </div>

    <button type="button" class="slider-nav" aria-label="Go left"></button>
    <button type="button" class="slider-nav slider-nav-next" aria-label="Go left"></button>

</div>
{% endblock content %}